__pycache__
.vscode
uploads/*
!uploads/.gitkeep
.env
# Local .terraform directories
**/.terraform/*

# .tfstate files (Contains sensitive AWS credentials!)
*.tfstate
*.tfstate.*

# Exclude all .tfvars files
*.tfvars
*.tfvars.json
*tfplan*
